# pyopenms

<a href="https://notebooks.gesis.org/binder/v2/gh/OpenMS/pyopenms_viz/main?filepath=docs/Data Formatting/pyopenms.ipynb" target="_blank">
    <img src="https://mybinder.org/badge_logo.svg" alt="Launch on Binder" style="width: 150px;"/>
</a>
<br></br>

## Install pyopenms

In [3]:
!pip install pyopenms --quiet

In [4]:
import requests

url = 'https://raw.githubusercontent.com/levitsky/pyteomics/master/tests/test.mzML'
file_name = 'test.mzML'

# # Send a GET request to the URL
response = requests.get(url)

# # Save the content of the response to a file
with open(file_name, 'wb') as file:
    file.write(response.content)

print(f'File {file_name} downloaded successfully!')

File test.mzML downloaded successfully!

## Load `.mzML` file and convert to `pd.DataFrame`

In [8]:
import pyopenms as oms
input_file = "./test.mzML"

# open mzML file
exp = oms.MSExperiment()
oms.MzMLFile().load(input_file, exp)

# convert to pd.DataFrame
df = exp.get_df(long=True)
df

           RT           mz  inty
0      0.2961   200.000183   0.0
1      0.2961   200.000427   0.0
2      0.2961   200.000671   0.0
3      0.2961   200.000916   0.0
4      0.2961   202.605835   0.0
...       ...          ...   ...
39823  0.3561  1999.913086   0.0
39824  0.3561  1999.937256   0.0
39825  0.3561  1999.961548   0.0
39826  0.3561  1999.985718   0.0
39827  0.3561  2000.009888   0.0

[39828 rows x 3 columns]

## Convert a single Spectrum as a `pd.DataFrame`

This can be achieved by filtering the dataframe above to the desired spectrum or can be done with the pyopenms interface.

In [12]:
spectrum = oms.MSSpectrum(exp.getSpectrum(0))
df = spectrum.get_df()
df

                mz  ...  preset scan configuration
0       200.000188  ...                          1
1       200.000430  ...                          1
2       200.000673  ...                          1
3       200.000915  ...                          1
4       202.605829  ...                          1
...            ...  ...                        ...
19909  1999.913081  ...                          1
19910  1999.937296  ...                          1
19911  1999.961513  ...                          1
19912  1999.985729  ...                          1
19913  2000.009947  ...                          1

[19914 rows x 17 columns]